@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
*{
  font-family:Roboto Mono;
}

html, body {
  height: 100%;
  width: 100%;
}


#left{
  
  color: red;
  width: 250px;
  height: 500px;
  margin:20px;
}

#middle{
  
  color: blue;
  width: 250px;
  margin:20px;
}
#right{
  
  color: green;
  width: 250px;
  margin:20px;
}









.bigBox{
 
  display: flex;
  justify-content: center;
}

